* {
  box-sizing: border-box;
  vertical-align: bottom;
}
html {
  font-size: 62.5%;
}
:root {
  --header-color: #000958;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background: #fffaf5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora";
}
a {
  text-decoration: none;
}
/* common */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
.btn {
  display: inline-block;
  padding: 20px 40px;
  border: 1px solid currentColor;
  border-radius: 25px;
  color: #ff5b2e;
  font-size: 1.6rem;
  font-weight: 500;
  transition: all 0.3s;
}
/* Header */
header {
  background-color: #fffaf5;
  margin-top: 16px;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.header_nav ul {
  display: flex;
  align-items: center;
}

.header_nav ul a {
  color: #5e6085;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4rem;
  padding: 18px;
  transition: all 0.3s;
}
.header_nav ul a:hover {
  text-shadow: 1px 0 0 currentColor;
  color: #000958;
}
.header__signup--btn {
  padding: 18px 31px;
  color: #000958;
}
.header__signup--btn:hover {
  background-color: #000958;
  border-color: #fff;
}
.header__signup--btn a {
  color: #000958;
  font-size: 1.4rem;
  font-weight: 600;
}
.header__signup--btn:hover a {
  color: #fff;
}
/* Home */
.home {
  height: calc(100vh - 9rem);
  background-color: #fffaf5;
}
.home-hero {
  display: flex;
  justify-content: space-between;
  padding-top: 97px;
}
.home__media {
  position: relative;
}
.home__media .media__cat--bg {
  width: 388px;
  height: 488px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #fe997b;
  border: 3px solid #fff;
  position: relative;
  z-index: 2;
  overflow: hidden;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}
.home__media .home-hero__dog {
  position: absolute;
  bottom: -58px;
  right: -163px;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 186px;
  height: 244px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #faa7ad;
  border: 3px solid #ffd6d9;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}
.home__media--circle {
  position: absolute;
  bottom: 10px;
  left: -61px;
  z-index: 1;
}
.home__media--square {
  position: absolute;
  top: 17px;
  right: -40px;
  z-index: 0;
}
.home-hero__pet-group {
  position: absolute;
  bottom: -94px;
  left: 129px;
  z-index: 4;
  padding: 18px 14px;
  background: #fff;
  border-radius: 10px;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}
.home-hero__pet-group .pet-avt {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--color, #fec23f);
  overflow: hidden;
}
.home-hero__pet-group .pet-avt:nth-child(2) {
  background: var(--color, #fec23f);
}
.home-hero__pet-group .pet-item {
  display: flex;
  gap: 10px;
}
.home-hero__pet-group .line {
  width: 222px;
  height: 2px;
  background: #f2f2f2;
  border-radius: 2px;
  margin: 20px 0;
}
.home-hero__pet-group .pet-infor p {
  position: relative;
  color: #181e52;
  font-family: Sora;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4rem;
  padding-right: 97px;
  padding-top: 2px;
}
.home-hero__pet-group .pet-infor p::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 1px;
  width: 118px;
  height: 4px;
  flex-shrink: 0;
  border-radius: 10px;
  opacity: 0.08;
  background: #000958;
}
.home-hero__pet-group .pet-infor p::before {
  content: "";
  position: absolute;
  bottom: -17px;
  left: 1px;
  width: 39px;
  height: 4px;
  flex-shrink: 0;
  border-radius: 10px;
  opacity: 0.08;
  background: #000958;
}
.home__content .title {
  color: #000958;
  font-size: 6.6rem;
  font-weight: 800;
  line-height: 76px;
  width: 517px;
}
.home__content .desc {
  color: #656689;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 30px;
  width: 391px;
  margin: 24px 0 38px;
}
.arrow-right-circle {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}
.book__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 189px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 31px;
  background: #ff5b2e;
  transition: all 0.2s;
}
.call__button {
  color: #000958;
  font-family: Poppins;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6rem;
  text-decoration-line: underline;
}
.book__button:hover .arrow-right-circle {
  box-shadow: 4px 3px 10px rgba(191, 41, 0, 0.4);
}
.book__button:hover {
  box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
}
.book__button span {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 16px;
}
.home__content-btn--group {
  display: flex;
  gap: 24px;
  align-items: center;
}
/* about */
.about-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-end;
  gap: 108px;
  padding: 207px 0 53px;
}
.about-content .heading {
  color: #5e6085;
  font-family: Sora;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.6rem;
}
.about-content .title {
  width: 446px;
  color: #000958;
  font-family: Sora;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 6.2rem;
  margin: 15px 0 24px;
}
.about-content .desc {
  color: #656689;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3rem;
  width: 431px;
}
.checked-icon {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background-color: #ff5d31;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.checked-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.checked-item .label {
  color: #48496a;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.8rem;
}
.checked-item:hover .checked-icon {
  box-shadow: 0px 4px 15px rgba(255, 93, 49, 0.69);
}
.checked-group {
  margin-top: 54px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 36px;
  justify-content: flex-start;
  margin-bottom: 80px;
}
.about-media {
  position: relative;
  width: 494px;
  height: 336px;
  flex-shrink: 0;
  border-radius: 16px;
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
  box-shadow: 11px 18px 65px 0 rgba(255, 155, 121, 0.12);
}
.about-image {
  position: absolute;
  bottom: 0;
}
.about-square {
  position: absolute;
  top: -66px;
  right: -51px;
  z-index: -1;
}
.year-exp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  position: absolute;
  top: -58px;
  left: -92px;
  width: 136px;
  height: 156px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #5bd6e2;
  box-shadow: -15px 26px 48px 0 rgba(85, 240, 255, 0.17);
}
.about-media .year-exp .data {
  position: relative;
  color: #fff;
  text-align: center;
  font-family: Sora;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 4.2rem;
}
.about-media .year-exp .data svg {
  position: absolute;
  top: -68px;
  right: -59px;
}
.about-media .year-exp .text {
  color: #c6f4f9;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 20px;
  width: 83px;
}
/* Features */
.features-hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0 55px;
  margin: 77px 0 130px;
}
.features-media {
  position: relative;
  width: 458px;
  height: 500px;
  flex-shrink: 0;
  border-radius: 18px;
  border: 2px solid #fff;
  background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
  box-shadow: 0 17px 77px -8px rgba(190, 165, 139, 0.17);
  border: 3px solid #fff;
}
.features-media .tow-dogs {
  position: absolute;
  bottom: 0px;
}
.features-media .features__shape {
  position: absolute;
}
.features-media .features__shape:nth-child(2) {
  top: 12.5px;
  right: 63px;
}
.features-media .features__shape:nth-child(3) {
  top: -16px;
  right: 13px;
}
.features-media .features__shape:nth-child(4) {
  top: 33px;
  right: -21px;
}
.features-media .features__shape:nth-child(5) {
  right: -38px;
  bottom: 206.5px;
}
.features-media .features__shape:nth-child(6) {
  right: 19px;
  bottom: 150px;
}
.features-media .features__shape:nth-child(7) {
  right: -42px;
  bottom: -55px;
}
.features-content .title {
  width: 543px;
  color: #000958;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 6.2rem;
}
.features-content .desc {
  width: 511px;
  color: #656689;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3rem;
  margin-top: 24px;
}
.features-item {
  display: flex;
  gap: 0.94rem;
  align-items: center;
}
.features-name {
  color: #48496a;
  font-family: Sora;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 18px;
}
.features__group {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 52px;
}
.features__group::after,
.features__group::before {
  position: absolute;
  content: "";
  background: #ff5b2e;
  border-radius: 2px;
  bottom: -14px;
  height: 2px;
}
.features__group::after {
  width: 95px;
}
.features__group::before {
  width: 557px;
  opacity: 0.07;
}
.features-content .smaller {
  font-size: 1.4rem;
  line-height: 2.4rem;
  margin-top: 50px;
  margin-bottom: 32px;
}
.features-cta {
  color: #ff5d31;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6rem;
}
.features-cta:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}
/* services */
.services {
  background: #fff6ed;
  padding: 68px 0 100px;
}
.hero__title .heading {
  color: #5e6085;
  text-align: center;
  font-family: Sora;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 16px;
}
.hero__title .title {
  color: #000958;
  text-align: center;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 6.2rem;
  margin: 15px 0 71px;
}
.services__item .title {
  position: relative;
  color: #000958;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 2.2rem;
  margin-left: 12px;
}
.services__item .title::before {
  position: absolute;
  left: -12px;
  content: "";
  width: 2px;
  height: 22px;
  background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
}
.services__item .desc {
  width: 244px;
  color: #656689;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin: 18px 0 24px;
}
.services__item--cta {
  display: flex;
  align-items: center;
  gap: 6px;
}
.services__item--cta:hover {
  text-decoration: underline;
  text-decoration-color: #34396a;
}
.services__item--cta span {
  color: #34396a;
  font-family: Sora;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2rem;
}
.services__item {
  display: inline-block;
  background: #fff;
  border-radius: 10px;
  border: 2px solid rgba(255, 188, 122, 0.26);
  padding: 30px;
  width: 294px;
  height: 208px;
  flex-shrink: 0;
}
.services__group {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 39px;
}
.services__media .avt-dog {
  position: relative;
  width: 410px;
  height: 350px;
  flex-shrink: 0;
  border-radius: 10px;
  background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}
.services__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  overflow: hidden;
}
.services__media img {
  position: absolute;
  bottom: 0;
}
.services__media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
}
.services__cta {
  width: 214px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 31px;
  border: 1px solid #ff5b2e;
  color: #ff5b2e;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
}
.services__cta:hover {
  background-color: #ff5b2e;
  color: #fff;
}
/* staff */
.staff-avartar {
  position: relative;
  width: 234px;
  height: 266px;
  flex-shrink: 0;
  border-radius: 129.5px;
  background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}
.staff-item:nth-child(2) .staff-avartar {
  background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}
.staff-item:nth-child(3) .staff-avartar {
  background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}
.staff-item:nth-child(4) .staff-avartar {
  border-radius: 129.5px;
  background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}
.staff-avt {
  position: absolute;
  bottom: 0;
  border-radius: 129.5px;
}
.staff__group {
  display: flex;
  justify-content: space-between;
  margin: 59px 0;
}
.staff-item:nth-child(even) .staff-shape {
  top: 0;
}
.staff-shape {
  position: absolute;
  bottom: 0;
  right: -16px;
}
.staf-position {
  color: #656689;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4rem;
  margin: 29px 0 14px;
}
.staff-name {
  color: #000958;
  text-align: center;
  font-family: Sora;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 2.2rem;
}
.hero__cta:hover .btn {
  background-color: #ff5b2e;
  color: #fff;
}
.hero__cta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.staff {
  padding: 130px 0;
}
/* pricing */
.pricing {
  background: #fff6ed;
  padding: 86px 0;
}
.pricing-hero .hero__title .desc {
  width: 709px;
  color: #656689;
  text-align: center;
  font-weight: 400;
  line-height: 30px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 24px;
}
.pricing-hero .hero__title .title {
  margin-bottom: 0;
}
.hero_radio_btn form {
  position: relative;
  width: 276px;
  height: 56px;
  border-radius: 31px;
  border: 1px solid rgba(255, 91, 46, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_radio_btn span {
  width: 138px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff5b2e;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6rem;
  opacity: 1;
  cursor: pointer;
}
.hero_radio_btn label {
  position: relative;
}
.hero_radio_btn label input {
  position: absolute;
  opacity: 0;
  transition: all 0.2s;
}
.hero_radio_btn input:checked + span {
  color: #fff;
}
.hero_radio_btn form::before {
  transition: all 0.2s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 138px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 31px;
  background: #ff5b2e;
  color: #fff;
  transform: translateX(0);
}
.hero_radio_btn form:has(label:nth-child(2) input:checked)::before {
  transform: translateX(138px);
}
.hero_radio_btn {
  display: flex;
  justify-content: center;
  margin: 38px 0 56px;
}
.pricing__item {
  width: 302px;
  height: 465px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #fff;
  padding: 30px 28px;
}
.pricing__kind {
  color: #ff5b2e;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2rem;
}
.pricing__king--name {
  color: #3f4065;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.8rem;
  margin: 8px 0 24px;
}
.price {
  color: #000958;
  font-family: Sora;
  font-size: 3.3rem;
  font-weight: 700;
  line-height: 3.4rem;
}
.pricing__cta--btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 246px;
  height: 44px;
  flex-shrink: 0;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 16px;
  margin: 22px 0 24px;
}
.pricing__cta--btn:hover {
  background-color: #ff5b2e;
  color: #fff;
}
.pricing__features--list ul li {
  display: flex;
  align-items: center;
  gap: 12px;
}
.pricing__features--list ul span {
  color: #656689;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4rem;
}
.pricing__features--list ul {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.adapt path {
  stroke-opacity: 1;
}
.pricing__group {
  display: flex;
  gap: 44px;
  justify-content: center;
}
/* review */
.review-hero {
  display: flex;
  flex-direction: column;
}
.review-row button {
  width: 54px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 50%;
  background: transparent;
  border: 1.5px solid #ffd1c4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.review-row button:hover {
  background: #ff5b2e;
  box-shadow: 0 5px 27px 0 rgba(255, 91, 46, 0.3);
}
.review-row button:hover path {
  stroke: #fff;
}
.review__media--item {
  position: relative;
  width: 274px;
  height: 350px;
  border-radius: 137px;
  background: #ffda54;
}
.review__media--item img {
  position: absolute;
  bottom: 0;

  border-radius: 137px;
}
.customer__review--item {
  display: flex;
  align-items: center;
  gap: 115px;
}
.customer__review--item .title {
  color: #000958;
  font-family: Sora;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 62px;
}
.customer__review--item .desc {
  color: #000;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.8rem;
  width: 553px;
  margin: 24px 0 34px;
}
.customer__review--item .credit {
  position: relative;
  color: #282828;
  font-family: Sora;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 18px;
  margin-left: 28px;
}
.customer__review--item .credit::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 3px;
  background: #000;
  border-radius: 1.5px;
  top: 5px;
  left: -28px;
}
.review-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 77px 0 56px;
}
.review__radio form {
  display: flex;
  gap: 8px; /* giống khoảng cách trong SVG */
  align-items: center;
}

/* Ẩn input mặc định */
.review__radio input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

/* Style mặc định cho span (nút tròn) */
.review__radio span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #ff5b2e;
  display: inline-block;
  box-sizing: border-box;
  transition: all 0.3s;
  cursor: pointer;
}

/* Khi checked → thành nút dài + nền cam */
.review__radio input:checked + span {
  width: 24px;
  border-radius: 4px;
  background: #ff5b2e;
  border: none;
}
.review__radio {
  align-self: center;
}
.review {
  padding: 53px 0 130px;
}
/* Blog */
.blog__title--row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog__title--row .title {
  color: #000958;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 6.2rem;
}
.blog__title--row .desc {
  width: 350px;
  color: #656689;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3rem;
  margin-bottom: 24px;
}
.blog__title--row .title__cta {
  margin-right: 73px;
}
.blog__title--row .title__cta .btn:hover {
  background-color: #ff5b2e;
  color: #fff;
}
.blog__img {
  width: 358px;
  height: 362px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #90ccff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 25px;
}
.blog__item:nth-child(2) .blog__img {
  background: #ff997e;
}
.blog__item:nth-child(3) .blog__img {
  background: #5bd6e2;
}

.blog__img .day-time {
  color: #fff;
  font-family: Sora;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7rem;
  align-self: flex-start;
  margin-left: 36px;
}
.blog__img img {
  width: 322px;
  height: 296px;
  flex-shrink: 0;
}
.blog__item .title {
  width: 338px;
  color: #000958;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 3.4rem;
  margin: 28px 0 16px;
}
.blog__item .desc {
  width: 351px;
  color: #656689;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
}
.blog__item {
  display: inline-block;
}
.blog__list {
  display: flex;
  justify-content: space-between;
  padding: 54px 0 155px;
}
