* {
  box-sizing: border-box;
  vertical-align: bottom;
}
html {
  font-size: 62.5%;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", "Poppins", sans-serif;
}
